edit-profile-form {
    .avatar {
        background: color($colors, secondary, base);
        padding: 25px 0 !important;
    }
    .circle-img {
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    .avatar-placeholder {
        font-size: 7rem;
        padding: 25px 0 !important;
    }
}