<ion-list no-lines>

    <ion-grid>

        <!-- <ion-row text-center align-items-center class="logo-container">


        </ion-row> -->

        <ion-row align-items-center justify-content-center>

            <ion-col col-12 col-sm-6 text-center class="logo-container">

                <ion-title>
                    <span ion-text color="light" class="logo">d</span>eals</ion-title>

            </ion-col>

            <ion-col col-12 col-sm-6 no-padding>
                <form [formGroup]="loginForm">

                    <ion-item>
                        <ion-label floating>
                            <ion-icon name="at"></ion-icon> Email</ion-label>
                        <ion-input type="email" formControlName="email" [(ngModel)]="account.email" #email (keyup.enter)="email.focusNext()"></ion-input>
                    </ion-item>

                    <div>
                        <ng-container *ngFor="let validation of errorMessages.email">
                            <div class="globals__inputs-error" *ngIf="loginForm.get('email').hasError(validation.type) && loginForm.get('email').dirty">
                                {{ validation.message}}
                            </div>
                        </ng-container>
                    </div>

                    <ion-item>
                        <ion-label floating>
                            <ion-icon name="unlock"></ion-icon>&nbsp;Mot de passe</ion-label>
                        <ion-input type="password" formControlName="password" [(ngModel)]="account.password"></ion-input>
                    </ion-item>

                    <div>
                        <ng-container *ngFor="let validation of errorMessages.password">
                            <div class="globals__inputs-error" *ngIf="loginForm.get('password').hasError(validation.type) && loginForm.get('password').dirty">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>

                </form>

                <ion-row padding-top>
                    <ion-col col-12 no-padding>
                        <button ion-button block color="primary" [disabled]="loginForm.invalid" (click)="signInWithEmailAndPassword($event)">Se Connecter</button>
                    </ion-col>
                    <ion-col col-12>
                        <button ion-button block clear color="primary" (click)="goToRegisterPage()" [disabled]="isButtonsDisabled">S'inscrire</button>
                    </ion-col>
                </ion-row>

                <div text-center>
                    <hr no-margin>
                </div>

                <ion-row padding-top>
                    <ion-col col-12 no-padding>
                        <button ion-button block color="google" (click)="signInWithGoogle()">
              Se connecter avec Google
            </button>
                    </ion-col>
                </ion-row>
                <div text-center>
                    <p no-padding>Mot de passe oublié ?</p>
                </div>
            </ion-col>

        </ion-row>

    </ion-grid>

</ion-list>