page-profile {
    ion-content {
        .fixed-content,
        .scroll-content {
            margin-top: 0 !important;
        }
    }
    ion-header ion-navbar ion-icon.back-button-icon.icon {
        color: map-get($colors, light);
    }
    ion-header ion-navbar button.bar-button-menutoggle .button-inner ion-icon {
        color: map-get($colors, light);
    }
    ion-navbar.toolbar>.toolbar-background {
        background: linear-gradient(to bottom, rgba(0, 0, 0, .4), transparent) !important;
    }
}