<ion-list [@list]="myAds.length" *ngIf="hasAds; else noResults">
    <ion-item-sliding *ngFor="let ad of myAds" (ionDrag)="itemSwipe($event)" (press)="toggleEditMode(check,ad)" @items #slidingItem>
        <ion-item>
            <ion-avatar item-left>
                <img-loader [src]="ad.pictures[0]" useImg></img-loader>
            </ion-avatar>
            <ion-label>
                <div>
                    <h2>{{ ad.title }}</h2>
                    <p>{{ (ad.lastUpdatedAt > ad.createdAt ? ad.lastUpdatedAt : ad.createdAt ) | amLocale:'fr' | amTimeAgo }} - {{ ad.viewsCount | async }} vues</p>
                </div>
            </ion-label>
            <ion-checkbox #check [@editMode]="this.editMode" color="secondary" [checked]="ad.multiSelectSelected" (ionChange)="onChecked(check,ad)"></ion-checkbox>
        </ion-item>
        <ion-item-options side="left" icon-start>
            <button ion-button expandable [disabled]="!canEditAd" (click)="deleteAd(ad, slidingItem)">
        <ion-icon [@deleteButtonState]="this.deleteIconState" name="trash"></ion-icon>
      </button>
        </ion-item-options>
        <ion-item-options icon-end>
            <button ion-button color="secondary" expandable (click)="editAd(ad)" [disabled]="!canEditAd">
        <ion-icon name="create"></ion-icon>
      </button>
        </ion-item-options>

    </ion-item-sliding>
</ion-list>

<ng-template #noResults>
    <div text-center text-wrap class="no-results">
        <ion-icon name="sad"></ion-icon>
        <h2>Vous n'avez publié aucune annonce.
            <br> Faites le maintenant en cliquant sur le button
            <br>
            <ion-icon name="add"></ion-icon>
        </h2>
    </div>
</ng-template>

<ion-infinite-scroll *ngIf="myAds?.length > 0" (ionInfinite)="displayMoreContent($event)">
    <ion-infinite-scroll-content loadingText="Chargement de vos annonces...">

    </ion-infinite-scroll-content>
</ion-infinite-scroll>