page-home {
    .email-confirmation-warning {
        background: color($colors, danger);
        color: white;
    }
    ion-footer {
        background: transparent !important;
    }
    ion-footer {
        ion-grid.grid {
            padding: 0;
        }
    }
    ion-content {
        padding: 10px;
        background: color($colors, background) !important;
    }
}