<ion-searchbar placeholder="Je cherche..." animate="true" (ionInput)="searchAd()"></ion-searchbar>

<ion-list>
    <ion-card *ngFor="let ad of ads | async">
        <ion-item>
            <ion-avatar item-start margin-left>
                <img [src]="(ad.userProfile | async)?.picture">
            </ion-avatar>
            <h3>{{ ad.title }}</h3>
            <p> {{ (ad.userProfile | async)?.username }} - {{ (ad.lastUpdatedAt > ad.createdAt ? ad.lastUpdatedAt : ad.createdAt ) | amLocale:'fr' | amTimeAgo }}
            </p>
        </ion-item>
        <div class="card-image">
            <img [src]="ad.pictures[0]" (click)="preview(ad)" width="100%" height="100%">
            <div class="overlay" text-center padding>
                <h2> {{ ad.price.toLocaleString('fr-FR') }} F </h2>
            </div>
        </div>

        <ion-card-content>
            <p> {{ ad.body | summarize }}</p>
        </ion-card-content>

        <div class="chip-container">
            <ion-chip *ngFor="let tag of ad.tags" [color]="tag.color">
                <ion-label>{{ tag.name }}</ion-label>
            </ion-chip>
        </div>

        <ion-row align-items-center>
            <ion-col col-auto>
                <button ion-button icon-left clear small>
          <ion-icon name="heart-outline"></ion-icon>
          <div></div>
        </button>
            </ion-col>
            <ion-col col-auto>
                <button ion-button clear small (click)="preview(ad)">
          <div>Voir</div>
        </button>
            </ion-col>
            <ion-col col-auto>
                <button ion-button clear small>
          <div>Contacter</div>
        </button>
            </ion-col>
            <ion-col text-center col-auto>
                <ion-note>
                    {{ ad.viewsCount }}
                    <ion-icon name="eye"></ion-icon>
                </ion-note>
            </ion-col>
        </ion-row>
    </ion-card>

</ion-list>

<ion-infinite-scroll (ionInfinite)="displayMoreContent($event)">

    <ion-infinite-scroll-content>

    </ion-infinite-scroll-content>

</ion-infinite-scroll>