<ion-searchbar *ngIf="showSearchbar" placeholder="Je cherche..." animate="true" (ionInput)="searchAd()" @showSearchbar></ion-searchbar>

<p no-margin text-center class="sort-label">{{ sortLabel }}</p>

<ion-list *ngIf="ads?.length > 0; else noResults" @popUp>
    <ion-card *ngFor="let ad of ads">
        <ion-item>
            <ion-avatar item-start margin-left>
                <img-loader [src]="(ad.userProfile$ | async)?.picture" useImg></img-loader>
            </ion-avatar>
            <h3>{{ ad.title }}</h3>
            <p> {{ (ad.userProfile$ | async)?.username }} - {{ (ad.lastUpdatedAt > ad.createdAt ? ad.lastUpdatedAt : ad.createdAt ) | amLocale:'fr' | amTimeAgo }}
            </p>
        </ion-item>
        <div class="card-image">
            <img-loader (click)="preview(ad)" height="340px" [src]="ad.pictures[0]"></img-loader>
            <div class="overlay" text-center padding>
                <h2> {{ ad.price.toLocaleString('fr-FR') }} F </h2>
            </div>
        </div>

        <ion-card-content>
            <p> {{ ad.body | summarize }}</p>
        </ion-card-content>

        <div class="chip-container">
            <ion-chip *ngFor="let tag of ad.tags" [color]="tag.color">
                <ion-label>{{ tag.name }}</ion-label>
            </ion-chip>
        </div>

        <ion-row align-items-center>
            <ion-col col-auto>
                <button ion-button icon-left clear small (click)="favoriteAd(ad)">
          <ion-icon [name]="ad.favIcon" class="fav-icon" [@blink]="ad.favIcon"></ion-icon>
        </button>
            </ion-col>
            <ion-col col-auto>
                <button ion-button clear small (click)="preview(ad)">
          <div>Voir</div>
        </button>
            </ion-col>
            <ion-col col-auto>
                <button ion-button clear small>
          <div>Contacter</div>
        </button>
            </ion-col>
            <ion-col text-center col-auto push-2>
                <ion-note>
                    {{ ad.viewsCount | async }}
                    <ion-icon name="eye"></ion-icon>
                </ion-note>
            </ion-col>
        </ion-row>
    </ion-card>

</ion-list>

<ng-template #noResults>
    <div text-center text-wrap class="no-results">
        <ion-icon name="sad"></ion-icon>
        <h2>Aucune annonce dans cette catégorie</h2>
    </div>
</ng-template>

<ion-infinite-scroll *ngIf="ads?.length > 0" (ionInfinite)="displayMoreContent($event)">

    <ion-infinite-scroll-content loadingText="Chargement des annonces...">

    </ion-infinite-scroll-content>

</ion-infinite-scroll>