ads-list {
    ion-avatar {
        margin-left: 16px !important;
    }
    ion-card {
        position: relative;
    }
    .card-image {
        position: relative;
        img {
            min-height: 30%;
            transition: opacity 1s;
            opacity: 0;
        }
        img.ng-lazyloaded {
            opacity: 1;
        }
    }
    // .overlay-top {
    //     position: absolute;
    //     width: auto;
    //     padding: 5px 10px;
    //     right: 0;
    //     top: 0;
    //     background: #20a056;
    //     opacity: .8;
    //     h3 {
    //         color: white !important;
    //     }
    // }
    .overlay {
        position: absolute;
        width: 100%;
        bottom: 0;
        background: #000;
        opacity: .5;
        h2 {
            color: white !important;
        }
    }
    ion-chip {
        border-radius: 2px !important;
    }
    div.chip-container {
        padding: 5px 16px;
        ion-chip {
            margin-right: 7px;
        }
    }
}