ads-list {
    ion-avatar {
        margin-left: 16px !important;
    }
    ion-card {
        position: relative;
    }
    .card-image {
        height: 340px;
        position: relative;
        img {
            transition: opacity 1s;
            opacity: 0;
            object-fit: cover;
        }
        img.ng-lazyloaded {
            opacity: 1;
        }
        min-height: 192px;
        max-height: 50%;
    }
    .overlay {
        position: absolute;
        width: 100%;
        bottom: 0;
        background: #000;
        opacity: .5;
        h2 {
            color: white !important;
        }
    }
    ion-chip {
        border-radius: 2px !important;
    }
    div.chip-container {
        padding: 5px 16px;
        ion-chip {
            margin-right: 7px;
        }
    }
    p.sort-label {
        font-size: 1.6rem;
        color: #222;
        padding: 10px;
    }
    div.no-results {
        padding-top: 40px;
        ion-icon {
            font-size: 10rem;
            color: #b5b5b5;
        }
        h2 {
            color: #222;
            padding: 16px;
        }
    }
    .fav-icon {
        font-size: 2.5rem;
    }
}