page-ad-preview {
    .content {
        padding: 16px !important;
    }
    h2>small {
        // font-style: italic;
        font-size: 1.3rem;
    }
    ion-scroll {
        min-height: 50vh;
        max-height: 100vh;
    }
    .card .list .item .input-wrapper {
        border-bottom: .5px solid rgba(128, 128, 128, .5);
    }
    .card {
        margin-bottom: 40px;
    }
    ion-content {
        .fixed-content,
        .scroll-content {
            margin-top: 0 !important;
            overflow-y: hidden;
        }
    }
    .header-container {
        height: 50vh;
    }
    .header-image {
        height: 100%;
        width: 100%;
    }
    .main-content {
        width: 100%;
        background: white;
    }
    img {
        object-fit: cover;
    }
    ion-row>ion-col {
        height: 30%;
    }
    div.images-slide {
        padding: 10px;
        overflow-x: scroll;
        display: inline-flex;
        img.rounded {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 5px;
            border: 3px solid #1FDA9A; //FIXME: With sass variable
        }
    }
    ion-navbar ion-buttons.bar-buttons .bar-button {
        color: map-get($colors, light);
    }
    ion-navbar.toolbar>.toolbar-background {
        background: linear-gradient(to bottom, rgba(0, 0, 0, .4), transparent) !important;
    }
    p.body {
        white-space: pre-line !important;
    }
    .price {
        font-weight: 500;
    }
}