$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Previous theme
// $colors: ( primary: (base:#2196F3, contrast:white), secondary: (base:#33C3FF, contrast:#000), danger: #f53d3d, light: #f4f4f4, dark: #222, facebook: #375a8a, background: #DFE3EE, success: #20a056, caution: #f1c400, negociable: #542733);
$colors: ( primary: (base:#db3340, contrast:#ffffff), secondary: (base:#e8b71a, contrast:#000000), secondary-light: (base:#ffe955, contrast:#000000), danger: #f53d3d, light: #f4f4f4, background: #DFE3EE, success: #20a056, caution: #f1c400, negociable: #542733);
$secondary-light:#ffe955;
$secondary-dark: #0093CC;
$primary-dark: #0069C0;
// logo color
$logo-color: white;
//Button color for login page
$button-login-color: white;
//Default icon color
$icon-grey: #8C8C8C;
$acccent-color: #1FDA9A;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$navbar-md-height: 48px;
$toolbar-md-height: 48px;
$toolbar-md-title-font-size: 1.8rem;
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";