// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-icon {
    &[class*="c-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    &[class*="c-handshake"] {
        mask-image: url(../assets/svgs/handshake.svg);
    }
}

@font-face {
    font-family: 'ABeatbyKai';
    src: url('../assets/fonts/ABEAKRG.TTF') format('truetype');
}

@font-face {
    font-family: "Open Sans";
    src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

// ion-input {
//     background: color($colors, background) !important;
// }
ion-item {
    padding: 0 !important;
    .item-inner {
        padding: 0 !important;
    }
}

.globals__inputs-error {
    color: color($colors, danger);
}

.globals__toast-error {
    div {
        background: rgba(255, 0, 0, .5);
    }
}

.globals__toast-success {
    div {
        background: rgba(75, 181, 67, .5);
    }
}

.globals__toast-confirm {
    div {
        background: rgba(252, 183, 20, 0.5);
    }
}

.grey {
    color: $icon-grey
}

.primary-dark {
    color: $primary-dark;
}

.secondary-dark {
    color: $secondary-dark
}

.secondary-light {
    color: $secondary-light;
}

//**************SIDEMENU******************
ion-menu {
    ion-header {
        background: color($colors, secondary);
        height: 30%;
        .circle-img {
            img {
                border-radius: 50%;
                border: 2px solid color($colors, light);
                height: 100px;
                width: 100px;
            }
        }
        ion-grid {
            height: 100%;
            ion-row {
                height: 100%;
            }
        }
        .username {
            color: color($colors, secondary, contrast);
        }
    }
    ion-content {
        ion-list {
            button[ion-item] {
                font-size: 1.4rem;
                ion-icon {
                    font-size: 2.4rem;
                }
            }
        }
    }
}