ad-form {
    div.imgs-container {
        overflow-x: scroll;
        max-height: 100px;
        img {
            margin-right: 5px;
        }
    }
    div.imgs-container+p {
        color: darkgray;
        font-size: 1.6rem;
        padding-left: 10px;
    }
    ion-select {
        max-width: 100%;
    }
    div.images-error {
        font-size: 1.6rem;
    }
    form>ion-item:first-child {
        overflow-x: scroll;
    }
}